/* Color palette:   
#de6600 dark orange
#fea02f light orange
#ebd9c8 off white
#007a7a sea green
#003f5a navy blue
*/

/* font-family: 'Raleway', sans-serif;
font-family: 'Sofia', cursive;
font-family: 'Anton', sans-serif;
font-family: 'Pacifico', cursive;
 */

body {
    display: flex;
    flex-direction:row;
    font-family: 'Raleway', sans-serif;

}

#leftBox{
    background-color:#de6600;
    width:26vw;
    height:100vh;
    color: white;
    text-align: center;
    padding: 40px;
    margin-right: 2px;
}

#rightBox {
    width:76vw;
    height:100vh;
    background-color:#007a7a;
    color: #ebd9c8;
    padding:40px;
}

#profilePicture {
    height:auto;
    width:80%;
}

ul{
    list-style: none;
text-align:left;
}