$dark-orange: #de6600;
$light-orange: #fea02f;
$off-white: #ebd9c8;
$sea-green: #007a7a;
$navy-blue: #003f5a;

$Ubuntu: "Ubuntu", sans-serif;
$Raleway: "Raleway", sans-serif;
$Anton: "Anton", sans-serif;
$Sofia: "Sofia", cursive;
$Pacifico: "Pacifico", cursive;

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: $sea-green;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;

  .title_container {
    height: 100%;
    width: 100%;
    font-family: $Ubuntu;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 38px;
    padding: 0 12px;

    h2 {
      border-bottom: none;

      #adjectives {
        display: inline-block;
        border-bottom: 2px black dashed;
        font-weight: 500;
        color: rgba($color: $off-white, $alpha: 1);
        padding-left: 4px;
        width: 134px;
        text-align: center;
      }
    }
  }

  #navigation_container {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    bottom: 0;

    #navigation_tab {
      height: 36px;
      width: 240px;
      background-color: $dark-orange;
      border-radius: 6px 6px 0 0;
      z-index: 99;
      display: flex;
      justify-content: center;
      align-items: center;

      #arrow_up {
        height: 18px;
        width: 18px;
        border-bottom: 4px solid rgba($color: #000000, $alpha: 0.4);
        border-left: 4px solid rgba($color: #000000, $alpha: 0.4);
        transform: rotate(135deg);
        margin-top: 12px;
        border-radius: 0 0 0 4px;
      }

      #arrow_down {
        height: 18px;
        width: 18px;
        border-bottom: 4px solid rgba($color: #000000, $alpha: 0.4);
        border-left: 4px solid rgba($color: #000000, $alpha: 0.4);
        transform: rotate(-45deg);
        margin-bottom: 12px;
        border-radius: 0 0 0 4px;
      }
    }

    #navigation {
      background: $dark-orange;
      justify-self: flex-end;
      min-height: 72px;
      height: fit-content;
      flex-wrap: nowrap;
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 12px 0;

      .navigation_a {
        font-family: $Ubuntu;
        font-weight: 400;
        font-size: 18px;
        text-decoration: none;
        width: auto;
        border-radius: 6px;
        color: rgba($color: #000000, $alpha: 0.5);
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        @media screen and (min-width: 350px) {
          min-width: 69px;

          &:hover {
            &::after {
              content: attr(in);
              font-family: $Ubuntu;
              font-weight: 400;
              font-size: 18px;
              position: absolute;
              margin-left: 60px;
              color: rgba($color: #000000, $alpha: 0.6);
            }
          }
        }
      }
    }
  }
}
